# **Analiza jedrskih reaktorjev v komercialni uporabi in jedrskih nesreč po državah**

Pri projektni nalogi predmeta Uvod v programiranje bom analizirala podatke o jedrskih reaktojih, ki proizvajajo elektriko za različne države po svetu ter tudi nesreče, ki so jih povzročili. Podatke sem pridobila iz dveh spletnih strani, https://en.wikipedia.org/wiki/List_of_commercial_nuclear_reactors in https://en.wikipedia.org/wiki/List_of_nuclear_power_accidents_by_country.

Najprej bom pregledala podatke o posameznih reaktorjih in jih predstavila, potem pa opisala nesreče in njihove posledice.  

Podatke, ki sem jih prodobila za vsak reaktor vključujejo ime elektrarne, število reaktorjev, tip, model, status, moč, začetek gradnje, začetek delovanja in datum zaprtja.
Za jedrske nesreče pa sem pridobila podatke o datumu in lokaciji, opis, število smrti in strošek, ki so ga povzročile.

In [103]:
# paketi, ki jih potrebujemo za obdelavo podatkov
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [104]:
# naložimo razpredelnico, iz katere pridobivamo podatke o reaktorjih in nesrečah, ki so jih povzročili
reaktorji = pd.read_csv('podatki/jedrski-reaktorji.csv')
jedr_nesrece = pd.read_csv('podatki/jedrske-nesrece.csv')

## **Analiza podatkov o jedrskih reaktorjih**

#### **Celotna tabela**

Za boljši pregled sem izpisala celotno tabelo s podatki o jedrskih reaktorjih.

In [105]:
# rapredelnica podatkov o jedrskih reaktorjih
reaktorji

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
0,Atucha,Argentina,1,PHWR,Siemens-KWU,Operational,335,1 Jun 1968,24 Jun 1974,NaN
1,Atucha,Argentina,2,PHWR,Siemens-KWU,Operational,692,14 Jul 1981,27 Jun 2014,NaN
2,Atucha,Argentina,3,PWR,Hualong One,Planned,1200,NaN,NaN,NaN
3,Embalse,Argentina,1,PHWR,CANDU-6,Operational,600,1 Apr 1974,20 Jan 1984,(2049)
4,CAREM,Argentina,1,PWR,CAREM25,Under construction,25,8 Feb 2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
907,Yankee Rowe,United States,1,PWR,WH (DRY),Dismantled,167,1 Nov 1957,1 Jul 1961,1 Oct 1991
908,Zion,United States,1,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,31 Dec 1973,13 Feb 1998
909,Zion,United States,2,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,17 Sep 1974,13 Feb 1998
910,Plant in the Jizzakh Region,Uzbekistan,1,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN
911,Plant in the Jizzakh Region,Uzbekistan,2,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN

Iz tabele lahko razberemo število vseh jedrskih elektraren , spodaj pa je še prikazano število delujočih in zaprtih reaktorjev skupaj s številom reaktorjev, ki jih še nameravajo zgraditi.

In [106]:
#število jedrskih elektraren
reaktorji["Ime elektrarne"].nunique()

360

In [107]:
from IPython.display import display

#število delujočih reaktorjev
display(len(reaktorji.query('Status == "Operational"')))

#število reaktorjev, ki jih še planirajo zgraditi
display(len(reaktorji.query('Status == "Planned"')))

#število zaprtih reaktorjev
display(len(reaktorji.query('Status == "Shut down"')))

415

122

103

In [108]:
# število reaktorjev posameznega tipa
reaktorji.groupby("Tip").count()

,Ime elektrarne,Lokacija,Številka reaktorja,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
Tip,,,,,,,,,
BHWR,1,1,1,1,1,1,1,0,1
BWR,141,141,141,136,141,139,132,125,65
FBR,12,12,12,8,12,11,12,8,8
GCR,51,51,51,50,51,51,50,50,51
HTGR,8,8,8,8,8,8,4,4,3
HWGCR,4,4,4,3,4,4,4,4,4
HWLWR,1,1,1,1,1,1,1,1,1
LWGR,29,29,29,29,29,29,26,24,14
LWR,1,1,1,0,1,1,0,0,0
OCR,1,1,1,1,1,1,1,1,1
PHWR,76,76,76,76,76,76,61,59,31
PWR,574,574,574,565,574,570,479,417,107
SFR,9,9,9,9,9,9,7,5,2
SGHWR,1,1,1,1,1,1,1,1,1
SGR,1,1,1,1,1,1,1,1,1

In [109]:
po_tipu = reaktorji.groupby("Tip").size()

# najpogostejši tip reaktorja
po_tipu.idxmax()

'PWR'

Iz tabele se torej razbere, da je najpogostejši tip jedrskega reaktorja 'PWR', ki je tlačnovodni reaktor. Takšnega pa imamo tudi pri nas v Sloveniji.

In [110]:
# jedrski reaktorji v Sloveniji
reaktorji[reaktorji["Lokacija"] == "Slovenia"]

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
578,Krško,Slovenia,1,PWR,WH 2 loops,Operational,688,30 Mar 1975,1 Jan 1983,(2043)
579,Krško,Slovenia,2,PWR,TBD,Planned,1100,NaN,(2030),NaN

Tabela, ki prikazuje posamezne elektrarne z reaktorji in njihovimi močmi v MW.

In [111]:
# ime elektrarne, njeni reaktorji in njihova moč
reaktorji[["Ime elektrarne", "Številka reaktorja", "Moč (MW)"]]

                  Ime elektrarne Številka reaktorja Moč (MW)
0                         Atucha                  1      335
1                         Atucha                  2      692
2                         Atucha                  3     1200
3                        Embalse                  1      600
4                          CAREM                  1       25
..                           ...                ...      ...
907                  Yankee Rowe                  1      167
908                         Zion                  1     1040
909                         Zion                  2     1040
910  Plant in the Jizzakh Region                  1     1200
911  Plant in the Jizzakh Region                  2     1200

[912 rows x 3 columns]

In [112]:
reaktorji[["Ime elektrarne", "Status"]].plot(kind='pie', y='Status', autopct='%1.1f%%', startangle=140, legend=False)

plt.show()

TypeError: '<' not supported between instances of 'str' and 'int'

Prikaz vseh reaktorjev z močjo večjo od 1000 MW:

In [ ]:
delujoci = reaktorji[reaktorji["Status"] == "Operational"]
moci_delujoci = delujoci[delujoci["Moč (MW)"].astype(float) >= 1000]

# prikaz delujočih jedrskih reaktorjev z močjo večjo od 1000 MW
moci_delujoci

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
10,Ostrovets,Belarus,1,PWR,VVER-1200/V-491,Operational,1109,6 Nov 2013,10 Jun 2021,NaN
11,Ostrovets,Belarus,2,PWR,VVER-1200/V-491,Operational,1109,24 Apr 2014,1 Nov 2023,NaN
18,Doel,Belgium,4,PWR,Belgian firms plus WH 3 loops,Operational,1039,1 Dec 1978,1 Jul 1985,(2035)
21,Tihange,Belgium,3,PWR,Belgian firms plus WH 3 loops,Operational,1046,1 Nov 1978,1 Sep 1985,(2035)
23,Angra,Brazil,2,PWR,Pre-Konvoi,Operational,1275,1 Jan 1976,1 Feb 2001,NaN
...,...,...,...,...,...,...,...,...,...,...
902,Vogtle,United States,4,PWR,AP1000,Operational,1117,19 Nov 2013,29 April 2024,NaN
903,Waterford,United States,1,PWR,CE 2-loop (DRY),Operational,1168,14 Nov 1974,24 Sep 1985,NaN
904,Watts Bar,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1157,20 Jul 1973,27 May 1996,NaN
905,Watts Bar,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1164,1 Sep 1973,4 Jun 2016,NaN
906,Wolf Creek,United States,1,PWR,WH 4-Loop (DRY),Operational,1200,31 May 1977,3 Sep 1985,NaN

In [ ]:
# število delujočih jedrskih reaktorjev z močjo večjo od 1000 MW
len(moci_delujoci)

159

In [ ]:
najmocnejsi = moci_delujoci["Moč (MW)"].astype(float).idxmax()

# jedrski reaktor z največjo močjo
moci_delujoci.loc[najmocnejsi]

142

Ime elektrarne            Taishan
Lokacija                    China
Številka reaktorja              1
Tip                           PWR
Model                         EPR
Status                Operational
Moč (MW)                     1660
Začetek gradnje       18 Nov 2009
Začetek delovanja     14 Dec 2018
Datum zaprtja                 NaN
Name: 142, dtype: object

#### **Jedrski reaktorji po državah**

In [ ]:
# prikaz reaktorjev razporejenih po državah
reaktorji.groupby("Lokacija").count()

,Ime elektrarne,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
Lokacija,,,,,,,,,
Argentina,5,5,5,5,5,5,4,3,1
Armenia,2,2,2,2,2,2,2,2,2
Austria,1,1,1,1,1,1,1,0,1
Bangladesh,2,2,2,2,2,2,2,2,0
Belarus,4,4,4,4,4,4,4,2,2
Belgium,8,8,8,8,8,8,8,8,8
Brazil,3,3,3,3,3,3,3,3,0
Bulgaria,10,10,10,10,10,10,8,7,4
Canada,29,29,29,29,29,29,29,29,25
China,116,116,116,116,116,116,81,61,0
Cuba,2,2,2,2,2,2,2,0,2
Czech Republic,10,10,10,10,10,10,6,6,0
Egypt,4,4,4,4,4,4,4,1,0
Finland,6,6,6,6,6,6,6,6,1
France,75,75,75,74,75,75,71,69,12
Germany,40,40,40,38,40,37,39,36,39
Hungary,6,6,6,6,6,6,6,4,0
India,43,43,43,43,43,43,31,24,1
Iran,4,4,4,3,4,4,2,1,0
Italy,8,8,8,4,8,8,6,4,8
Japan,62,62,62,61,62,62,62,59,26
Kazakhstan,1,1,1,1,1,1,1,1,1
Lithuania,4,3,3,3,3,3,2,2,2
Mexico,2,2,2,2,2,2,2,2,0
Netherlands,2,2,2,2,2,2,2,2,2
North Korea,5,5,4,1,5,5,0,0,4
Pakistan,8,8,8,8,8,8,7,7,1
Philippines,1,1,1,1,1,1,1,0,1
Poland,14,14,14,14,14,14,3,10,2
Romania,5,5,5,5,5,5,2,2,0
Russia,87,87,87,87,87,87,75,61,11
Slovakia,9,9,9,9,9,9,9,8,7
Slovenia,2,2,2,2,2,2,1,2,1
South Africa,2,2,2,2,2,2,2,2,0
South Korea,32,32,32,32,32,32,30,27,2
Spain,14,14,14,9,14,10,14,10,7
Sweden,14,14,14,14,14,14,14,13,8
Switzerland,6,6,6,6,6,6,6,6,4
Taiwan,8,8,8,8,8,8,8,6,6
Turkey,8,8,8,8,8,8,4,4,0
Ukraine,35,35,35,35,35,35,27,23,10
United Arab Emirates,4,4,4,4,4,4,4,4,0
United Kingdom,50,50,50,50,50,50,47,46,44
United States,157,157,157,153,157,157,142,135,46
Uzbekistan,2,2,2,2,2,2,0,0,0

Iz tabele lahko razberemo, katera država ima največ jedrskih elektrarn.

In [ ]:
po_drzavah = reaktorji.groupby("Lokacija").size()

# država z največ jedrskimi elektrarnami
po_drzavah.idxmax()

'United States'

##### Jedrski reaktorji v ZDA

Podrobneje analiziramo še jedrske elektrarne v ZDA.

In [ ]:
indeksi = reaktorji.index[reaktorji["Lokacija"] == "United States"].tolist()
reaktorji_v_zda = reaktorji.loc[indeksi]

# jedrske elektrarne v ZDA
reaktorji_v_zda

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
753,Arkansas Nuclear One,United States,1,PWR,B & W (DRY-Cont),Operational,836,1 Oct 1968,21 May 1974,NaN
754,Arkansas Nuclear One,United States,2,PWR,CE (DRY),Operational,988,6 Dec 1968,1 Sep 1978,NaN
755,Beaver Valley,United States,1,PWR,WH 3-loop (DRY),Operational,908,26 Jun 1970,2 Jul 1976,NaN
756,Beaver Valley,United States,2,PWR,WH 3-loop (DRY),Operational,905,3 May 1974,14 Aug 1987,NaN
757,Big Rock Point,United States,1,BWR,BWR-1,Dismantled,67,1 May 1960,29 Mar 1963,29 Aug 1997
...,...,...,...,...,...,...,...,...,...,...
905,Watts Bar,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1164,1 Sep 1973,4 Jun 2016,NaN
906,Wolf Creek,United States,1,PWR,WH 4-Loop (DRY),Operational,1200,31 May 1977,3 Sep 1985,NaN
907,Yankee Rowe,United States,1,PWR,WH (DRY),Dismantled,167,1 Nov 1957,1 Jul 1961,1 Oct 1991
908,Zion,United States,1,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,31 Dec 1973,13 Feb 1998
909,Zion,United States,2,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,17 Sep 1974,13 Feb 1998

In [ ]:
# število jedrskih reaktorjev v ZDA
len(reaktorji_v_zda)

157

In [ ]:
# število delujočih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Operational"')))

# število reaktorjev, ki jih še planirajo zgraditi
display(len(reaktorji_v_zda.query('Status == "Planned"')))

# število nedokončahnih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Unfinished"'))) 

# število zaprtih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Shut down"')))

94

9

7

18

In [ ]:
delujoci_zda = reaktorji_v_zda[reaktorji_v_zda["Status"] == "Operational"]
moc_delujoci_zda = delujoci_zda[delujoci_zda["Moč (MW)"].astype(int) >= 1000]

# prikaz delujočih jedrskih reaktorjev v ZDA z močjo večjo od 1000 MW
moc_delujoci_zda

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
758,Braidwood,United States,1,PWR,WH 4-loop (DRY),Operational,1194,1 Aug 1975,29 Jul 1988,NaN
759,Braidwood,United States,2,PWR,WH 4-loop (DRY),Operational,1160,1 Aug 1975,17 Oct 1988,NaN
760,Browns Ferry,United States,1,BWR,BWR-4 (WET),Operational,1200,1 May 1967,1 Aug 1974,NaN
761,Browns Ferry,United States,2,BWR,BWR-4 (WET),Operational,1200,1 May 1967,1 Mar 1975,NaN
762,Browns Ferry,United States,3,BWR,BWR-4 (WET),Operational,1210,1 Jul 1968,1 Mar 1977,NaN
765,Byron,United States,1,PWR,WH 4-loop (DRY),Operational,1164,1 Apr 1975,16 Sep 1985,NaN
766,Byron,United States,2,PWR,WH 4-loop (DRY),Operational,1136,1 Apr 1975,2 Aug 1987,NaN
767,Callaway,United States,1,PWR,WH 4-loop (DRY),Operational,1215,1 Sep 1975,19 Dec 1984,NaN
776,Catawba,United States,1,PWR,WH 4-loop (ICECOND),Operational,1160,1 May 1974,29 Jun 1985,NaN
777,Catawba,United States,2,PWR,WH 4-loop (ICECOND),Operational,1150,1 May 1974,19 Aug 1986,NaN
780,Clinton,United States,1,BWR,BWR-6 (WET),Operational,1062,1 Oct 1975,24 Nov 1987,NaN
781,Columbia,United States,1,BWR,BWR-5 (WET),Operational,1131,1 Aug 1972,13 Dec 1984,NaN
782,Comanche Peak,United States,1,PWR,WH 4-loop (DRY),Operational,1205,19 Dec 1974,13 Aug 1990,NaN
783,Comanche Peak,United States,2,PWR,WH 4-loop (DRY),Operational,1195,19 Dec 1974,3 Aug 1993,NaN
788,Diablo Canyon,United States,1,PWR,WH 4-Loop (DRY),Operational,1138,23 Apr 1968,7 May 1985,NaN
789,Diablo Canyon,United States,2,PWR,WH 4-Loop (DRY),Operational,1118,9 Dec 1970,13 Mar 1986,NaN
790,Donald C. Cook,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1020,25 Mar 1969,27 Aug 1975,NaN
791,Donald C. Cook,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1090,25 Mar 1969,1 Jul 1978,NaN
800,Fermi,United States,2,BWR,BWR-4 (WET),Operational,1115,26 Sep 1972,23 Jan 1988,NaN
804,Grand Gulf,United States,1,BWR,BWR-6 (WET),Operational,1401,4 May 1974,1 Jul 1985,NaN
811,Hope Creek,United States,1,BWR,BWR-4 (WET),Operational,1172,1 Mar 1976,20 Dec 1986,NaN
822,LaSalle County,United States,1,BWR,BWR-5 (WET),Operational,1137,10 Sep 1973,1 Jan 1984,NaN
823,LaSalle County,United States,2,BWR,BWR-5 (WET),Operational,1140,10 Sep 1973,19 Oct 1984,NaN
824,Limerick,United States,1,BWR,BWR-5 (WET),Operational,1134,19 Jun 1974,1 Feb 1986,NaN
825,Limerick,United States,2,BWR,BWR-5 (WET),Operational,1134,19 Jun 1974,8 Jan 1990,NaN
828,McGuire,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1158,1 Apr 1971,1 Dec 1981,NaN
829,McGuire,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1158,1 Apr 1971,1 Mar 1984,NaN
832,Millstone,United States,3,PWR,WH 4-Loop (DRY),Operational,1210,9 Aug 1974,23 Apr 1986,NaN
835,Nine Mile Point,United States,2,BWR,BWR-5 (WET),Operational,1277,1 Aug 1975,11 Mar 1988,NaN
843,Palo Verde,United States,1,PWR,CE80 2-loop (DRY),Operational,1311,25 May 1976,28 Jan 1986,NaN
844,Palo Verde,United States,2,PWR,CE80 2-loop (DRY),Operational,1314,1 Jun 1976,19 Sep 1986,NaN
845,Palo Verde,United States,3,PWR,CE80 2-loop (DRY),Operational,1312,1 Jun 1976,8 Jan 1988,NaN
849,Peach Bottom,United States,2,BWR,BWR-4 (WET),Operational,1300,31 Jan 1968,5 Jul 1974,NaN
850,Peach Bottom,United States,3,BWR,BWR-4 (WET),Operational,1331,31 Jan 1968,23 Dec 1974,NaN
851,Perry,United States,1,BWR,BWR-6 (WET),Operational,1240,1 Oct 1974,18 Nov 1987,NaN
862,Salem,United States,1,PWR,WH 4-loop (DRY),Operational,1169,25 Sep 1968,30 Jun 1977,NaN
863,Salem,United States,2,PWR,WH 4-loop (DRY),Operational,1158,25 Sep 1968,31 Oct 1981,NaN
868,Seabrook,United States,1,PWR,WH 4-Loop (DRY),Operational,1246,7 Jul 1976,15 Mar 1990,NaN
873,Sequoyah,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1152,27 May 1970,1 Jul 1981,NaN
874,Sequoyah,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1139,27 May 1970,1 Jun 1982,NaN
879,South Texas,United States,1,PWR,WH 4-loop (DRY),Operational,1280,22 Dec 1975,25 Aug 1988,NaN
880,South Texas,United States,2,PWR,WH 4-loop (DRY),Operational,1280,22 Dec 1975,19 Jun 1989,NaN
885,Susquehanna,United States,1,BWR,BWR-5 (WET),Operational,1257,2 Nov 1973,12 Nov 1982,NaN
886,Susquehanna,United States,2,BWR,BWR-5 (WET),Operational,1257,2 Nov 1973,27 Jun 1984,NaN
899,Vogtle,United States,1,PWR,WH 4-Loop (DRY),Operational,1150,1 Aug 1976,1 Jun 1987,NaN
900,Vogtle,United States,2,PWR,WH 4-Loop (DRY),Operational,1152,1 Aug 1976,20 May 1989,NaN
901,Vogtle,United States,3,PWR,AP1000,Operational,1117,12 Mar 2013,31 Jul 2023,NaN
902,Vogtle,United States,4,PWR,AP1000,Operational,1117,19 Nov 2013,29 April 2024,NaN
903,Waterford,United States,1,PWR,CE 2-loop (DRY),Operational,1168,14 Nov 1974,24 Sep 1985,NaN
904,Watts Bar,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1157,20 Jul 1973,27 May 1996,NaN
905,Watts Bar,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1164,1 Sep 1973,4 Jun 2016,NaN
906,Wolf Creek,United States,1,PWR,WH 4-Loop (DRY),Operational,1200,31 May 1977,3 Sep 1985,NaN

In [ ]:
# število delujočih jedrskih reaktorjev v ZDA z močjo večjo od 1000 MW
len(moc_delujoci_zda)

52

## **Analiza podatkov o jedrskih nesrečah**

#### **Celotna tabela**

Prikaz celotne tabele za boljšo preglednost.

In [ ]:
# prikaz podatkov o jedrskih nesrečah
jedr_nesrece

,Datum,Lokacija,Država,Opis,Smrti,Strošek,INES ocena
0,2002,"Tihange, Belgium",Belgium,"""Safety injection during hot shutdown at Tihan...",0.0,NaN,2.0
1,2005,"Tihange, Belgium",Belgium,"""Inadequate protection relays and related setp...",0.0,NaN,2.0
2,2006,"Fleurus, Belgium",Belgium,"""Severe health effects for a worker at a comme...",0.0,NaN,4.0
3,2008,"Fleurus, Belgium",Belgium,Iodine-131 release in the environment.,0.0,NaN,3.0
4,2011,"Doel, Belgium",Belgium,"""Inadequate setting of the auxiliary feedwater...",0.0,NaN,2.0
5,"December 12, 1952","CRL, Ontario, Canada",Canada,The NRX accident. A hydrogen explosion occurre...,0.0,NaN,5.0
6,"May 24, 1958","CRL, Ontario, Canada",Canada,The NRU accident. A fuel rod caught fire and b...,0.0,NaN,NaN
7,November 1978,"WR-1 Reactor at Pinawa, Manitoba, Canada",Canada,"LOCA loss of coolant accident. 2,739 litres of...",0.0,NaN,NaN
8,"August 1, 1983","Pickering nuclear Reactor 2, Pickering, Ontari...",Canada,"LOCA loss of coolant accident. Pressure tube, ...",0.0,NaN,NaN
9,March 1986,"Bruce nuclear Reactor 2, Bruce County, Ontario...",Canada,LOCA Loss of coolant accident. Pressure tube r...,0.0,NaN,NaN
10,"August 2, 1992","Pickering nuclear Reactor 1, Pickering, Ontari...",Canada,A Heavy water leak of 2300 trillion becquerels...,0.0,NaN,NaN
11,"December 10, 1994","Pickering nuclear Reactor 2, Pickering, Ontari...",Canada,LOCA loss of coolant accident. A spill of 185 ...,0.0,NaN,2.0
12,"June 11, 2002","Bruce nuclear Reactor 6, Bruce B station. Bruc...",Canada,Pressure tube and calandria tube damage during...,0.0,NaN,0.0
13,"December 21, 2009","Darlington nuclear station. Clarington, Ontari...",Canada,"Around 200,000 litres of water with trace amou...",0.0,NaN,NaN
14,"March 14, 2011","Pickering nuclear Plant A Pickering, Ontario, ...",Canada,"A leak of 73 cubic metres (73,000 litres) of d...",0.0,NaN,NaN
15,17 Oct 1969,"Loir-et-Cher, France",France,50 kg of uranium dioxide melted inside of the ...,0.0,NaN,4.0
16,25 Jul 1979,"Saclay, France",France,Radioactive fluids escaped into drains designe...,0.0,5.0,NaN
17,13 Mar 1980,"Loir-et-Cher, France",France,A malfunctioning cooling system fused fuel ele...,0.0,22.0,4.0
18,14 Apr 1984,"Bugey, France",France,Electrical cables failed at the command center...,0.0,2.0,NaN
19,21 May 1986,"Normandy, France",France,Pipe maintenance at the fuel reprocessing plan...,0.0,5.0,NaN
20,27 Dec 1999,"Blayais, France",France,An unexpectedly strong storm flooded the Blaya...,0.0,55.0,2.0
21,21 Jan 2002,"Manche, France",France,Control systems and safety valves failed after...,0.0,102.0,NaN
22,16 May 2004,"Cattenom-2, Lorraine, France",France,Sub-standard electrical cable trays at the Cat...,0.0,12.0,1.0
23,13 Jul 2008,"Tricastin, France",France,Thousands of litres (thirty cubic meters) of w...,0.0,7.0,1.0
24,9 Aug 2009,"Gravelines, France",France,Assembly system failed to properly eject spent...,0.0,2.0,1.0
25,5 Apr 2012,"Penly, France",France,"Fire on a primary pump of the second reactor, ...",0.0,NaN,1.0
26,2017,"France, generic",France,20 reactors of the 1300 MW-class with seismic ...,0.0,NaN,2.0
27,1975,"Greifswald, East Germany",Germany,A near core meltdown at Greifswald Nuclear Pow...,0.0,NaN,3.0
28,4 May 1986,"Hamm-Uentrop, Germany",Germany,Operator actions to dislodge damaged fuel elem...,0.0,267.0,NaN
29,17 Dec 1987,"Hessen, Germany",Germany,Stop valve failed for a moment at Biblis Nucle...,0.0,13.0,NaN
30,4 May 1987,"Kalpakkam, India",India,Fast Breeder Test Reactor at Kalpakkam refuell...,0.0,300.0,NaN
31,10 Sep 1989,"Tarapur, Maharashtra, India",India,Operators at the Tarapur Atomic Power Station ...,0.0,78.0,NaN
32,13 May 1992,"Tarapur, Maharashtra, India",India,A malfunctioning tube causes the Tarapur Atomi...,0.0,2.0,NaN
33,31 Mar 1993,"Bulandshahr, Uttar Pradesh, India",India,The Narora Atomic Power Station suffers a fire...,0.0,220.0,NaN
34,2 Feb 1995,"Kota, Rajasthan, India",India,The Rajasthan Atomic Power Station leaks radio...,0.0,280.0,NaN
35,22 Oct 2002,"Kalpakkam, India",India,Almost 100 kg radioactive sodium at the fast b...,0.0,30.0,NaN
36,8 Jan 1975,"Mihama, Japan",Japan,Radioactivity released from Mihama nuclear pow...,0.0,NaN,NaN
37,2 Nov 1978,"Fukushima No I, Japan",Japan,Japan's first criticality accident at No 3 rea...,0.0,NaN,NaN
38,2 Apr 1979,"Tokaimura, Japan",Japan,Two workers suffer radioactive contamination a...,0.0,NaN,NaN
39,24–28 Jan 1981,"Tsuruga, Japan",Japan,29 workers were exposed to radiation.,0.0,NaN,NaN
40,8 Mar 1981,"Tsuruga, Japan",Japan,56 workers were exposed to about 45 tonnes of ...,0.0,NaN,NaN
41,31 Aug 1985,"Fukushima, Japan",Japan,Fire at Fukushima nuclear power plant during r...,0.0,NaN,NaN
42,23 Jun 1986,"Tokaimura, Japan",Japan,"Twelve people suffer ""slight"" plutonium contam...",0.0,NaN,NaN
43,8 Feb 1991,"Fukui, Japan",Japan,Radioactivity was released from Mihama nuclear...,0.0,NaN,NaN
44,22 Feb 1993,"Fukushima, Japan",Japan,High-pressure steam accident kills one worker ...,1.0,NaN,NaN
45,December 1995,"Tsuruga, Japan",Japan,The fast breeder Monju Nuclear Power Plant sod...,0.0,NaN,NaN
46,11 March 1997,"Tokaimura, Japan",Japan,The Tokaimura nuclear reprocessing plant fire ...,0.0,NaN,NaN
47,18 Jun 1999,"Shika, Japan",Japan,Wrong handling of some control rods set off an...,0.0,NaN,2.0
48,30 Sept 1999,"Tokaimura, Japan",Japan,The criticality accident at the Tokai fuel fab...,2.0,NaN,4.0
49,2002,"Onagawa, Japan",Japan,Two workers were exposed to a small amount of ...,0.0,NaN,NaN
50,9 Aug 2004,"Mihama, Japan",Japan,A main piping burst in the turbine building of...,5.0,NaN,1.0
51,2006,"Fukushima No1, Japan",Japan,A small amount of radioactive steam was releas...,0.0,NaN,NaN
52,16 Jul 2007,"Kashiwazaki, Japan",Japan,A severe earthquake (measuring 6.8 on the Rich...,0.0,NaN,1.0
53,Dec 2009,"Hamaoka, Japan",Japan,Leakage accident of radioactive water. 34 work...,0.0,NaN,NaN
54,Mar 2011,"Fukushima Dai-ichi, Japan",Japan,The world's second INES 7 accident. A magnitud...,573.0,1200.0,7.0
55,6 June 2017,Ibaraki Prefecture,Japan,The incident occurred at the Japan Atomic Ener...,0.0,NaN,NaN
56,18 October 2011,"Karachi, Pakistan",Pakistan,The KANUPP Karachi nuclear power plant imposed...,0.0,NaN,NaN
57,1957,"Mayak reprocessing plant, Ural-region",Russia,Kyshtym disaster: Explosion in a waste tank of...,200.0,NaN,6.0
58,1975,"Leningrad, Soviet union",Russia,Reactor 1 of the Leningrad Nuclear Power Plant...,0.0,NaN,4.0
59,1992,"Saint Petersburg, Russian Federation",Russia,An RBMK reactor of the Leningrad NPP released ...,0.0,NaN,2.0
60,1997,"Saint Petersburg, Russian Federation",Russia,Worker Sergei Kharitonov revealed photographs ...,0.0,NaN,NaN
61,April 1998,"Saint Petersburg, Russian Federation",Russia,An RBMK reactor was shut down following the di...,NaN,NaN,NaN
62,Autumn 2017,"Ural-region, Russian Federation",Russia,Roshydromet had issued report stated rise in b...,NaN,NaN,NaN
63,August 2019,Arkhangelsk region,Russia,"On August 9, 2019 an explosion triggered radia...",5.0,NaN,NaN
64,4 October 1999,"Wolsung, South Korea",South Korea,22 workers employed by the Korea Electric Powe...,NaN,NaN,NaN
65,October 1958,"Vinca, Serbia",Serbia,6 Workers were exposed to high doses of radiat...,1.0,NaN,3.0
66,January 1969,"Lucens, Switzerland",Switzerland,Melting of a fuel element of the protoptype po...,0.0,NaN,4.0
67,May 2011,"Varberg, Sweden",Sweden,A left behind wet vacuum cleaner in reactor 2 ...,0.0,NaN,NaN
68,March 2001,"Maanshan, South Taiwan",Taiwan,2-hour-Station Blackout in one of the two unit...,0.0,NaN,3.0
69,26 Apr 1986,"Pripyat, Ukraine, USSR",Ukraine,Steam explosion and meltdown (see Chernobyl di...,4000.0,6700.0,7.0
70,October 1999,"Pripyat, Ukraine",Ukraine,"Metal structures broke, causing a gamma ray so...",NaN,NaN,NaN
71,"Spring, 1957","Windscale (now Sellafield), UK",United Kingdom,Radioactivity release from a military reactor ...,NaN,NaN,NaN
72,8 Oct 1957,"Sellafield, UK",United Kingdom,Fire ignited plutonium piles of a military rea...,240.0,78.0,5.0
73,May 1967,"Scotland, United Kingdom",United Kingdom,Melting of fuel element at Dumfries and Gallow...,NaN,NaN,NaN
74,May 1977,"Dounreay, Scotland, UK",United Kingdom,A hydrogen explosion at the plant caused by a ...,NaN,NaN,NaN
75,Sep 1996,"Dounreay, Scotland, UK",United Kingdom,A fuel reprocessing plant was shut down after ...,NaN,NaN,NaN
76,Feb 1998,"Sellafield, UK",United Kingdom,Two workers were exposed to elevated levels of...,NaN,NaN,NaN
77,9 May 2005,"Sellafield, UK",United Kingdom,"82,966 litres of radioactive liquor made up of...",0.0,65.0,3.0
78,July until November and further on 2019/2020,"Sellafield, UK",United Kingdom,Loss of radioactive liquor into the ground fro...,0.0,NaN,2.0
79,"November 29, 1955","Idaho Falls, Idaho, USA",United States,Power excursion with partial core meltdown at ...,0.0,5.0,NaN
80,"July 26, 1959","Simi Valley, California, USA",United States,Partial core meltdown at Santa Susana Field La...,0.0,32.0,NaN
81,"January 3, 1961","Idaho Falls, Idaho, USA",United States,Explosion at National Reactor Testing Station'...,3.0,22.0,4.0
82,"October 5, 1966","Monroe, Michigan, USA",United States,Sodium cooling system malfunctions at Enrico F...,0.0,19.0,4.0
83,"August 11, 1973","Palisades, Michigan, USA",United States,Steam generator leak causes manual shutdown of...,0.0,10.0,NaN
84,"March 22, 1975","Browns Ferry, Alabama, USA",United States,Fire burns for seven hours and damages more th...,0.0,240.0,3.0
85,"November 5, 1975","Brownsville, Nebraska, USA",United States,Hydrogen gas explosion damages the Cooper Nucl...,0.0,13.0,NaN
86,"June 10, 1977","Waterford, Connecticut, USA",United States,Hydrogen gas explosion damages three buildings...,0.0,15.0,NaN
87,"February 4, 1979","Surry, Virginia, USA",United States,Surry Unit 2 shut down in response to failing ...,0.0,12.0,NaN
88,"March 28, 1979","Middletown, Pennsylvania, USA",United States,"Loss of coolant and partial core meltdown, see...",0.0,2400.0,5.0
89,"October 17, 1981","Buchanan, New York, USA",United States,"100,000 gallons of Hudson River water leaked i...",0.0,NaN,NaN
90,"January 25, 1982","Rochester, New York, USA",United States,Steam generator-leak at the Ginna Nuclear Gene...,0.0,NaN,NaN
91,"March 20, 1982","Lycoming, New York, USA",United States,Recirculation system piping fails at Nine Mile...,0.0,45.0,NaN
92,"March 25, 1982","Buchanan, New York, USA",United States,Damage to steam generator tubes and main gener...,0.0,56.0,NaN
93,"June 18, 1982","Senaca, South Carolina, USA",United States,Feedwater heat extraction line fails at Oconee...,0.0,10.0,NaN
94,"February 12, 1983","Forked River, New Jersey, USA",United States,Oyster Creek Nuclear Power Plant fails safety ...,0.0,32.0,NaN
95,"February 26, 1983","Fort Pierce, Florida, USA",United States,Damaged thermal shield and core barrel support...,0.0,54.0,NaN
96,"September 15, 1984","Athens, Alabama, USA",United States,"Safety violations, operator error, and design ...",0.0,110.0,NaN
97,"March 9, 1985","Athens, Alabama, USA",United States,Instrumentation systems malfunction during sta...,0.0,1830.0,NaN
98,"April 11, 1986","Plymouth, Massachusetts, USA",United States,Recurring equipment problems force emergency s...,0.0,1001.0,NaN
99,1986,"Surry, Virginia, USA",United States,Broken Feedwater pipe at Surry Nuclear Power P...,4.0,NaN,NaN
100,"March 31, 1987","Delta, Pennsylvania, USA",United States,Peach Bottom units 2 and 3 shutdown due to coo...,0.0,400.0,NaN
101,"December 19, 1987","Lycoming, New York, USA",United States,Malfunctions force Niagara Mohawk Power Corpor...,0.0,150.0,NaN
102,"September 10, 1988","Surry, Virginia, USA",United States,Refuelling cavity seal fails and destroys inte...,0.0,9.0,NaN
103,"March 5, 1989","Tonopah, Arizona, USA",United States,Atmospheric dump valves fail at Palo Verde Uni...,0.0,14.0,NaN
104,"March 17, 1989","Lusby, Maryland, USA",United States,Inspections at Calvert Cliff Units 1 and 2 rev...,0.0,120.0,NaN
105,"November 17, 1991","Scriba, New York, USA",United States,Safety and fire problems force shut down of th...,0.0,5.0,NaN
106,"April 21, 1992","Southport, North Carolina, USA",United States,NRC forces shut down of Brunswick Units 1 and ...,0.0,2.0,NaN
107,"February 3, 1993","Bay City, Texas, USA",United States,Auxiliary feed-water pumps fail at South Texas...,0.0,3.0,NaN
108,"February 27, 1993","Buchanan, New York, USA",United States,New York Power Authority shuts down Indian Poi...,0.0,2.0,NaN
109,"March 2, 1993","Soddy-Daisy, Tennessee, USA",United States,Equipment failures and broken pipes cause shut...,0.0,3.0,NaN
110,"December 25, 1993","Newport, Michigan, USA",United States,Shut down of Fermi Unit 2 after main turbine e...,0.0,67.0,NaN
111,14 January 1995,"Wiscasset, Maine, USA",United States,Steam generator tubes unexpectedly crack at Ma...,0.0,62.0,NaN
112,"May 16, 1995","Salem, New Jersey, USA",United States,Ventilation systems fail at Salem Units 1 and 2,0.0,34.0,NaN
113,"February 20, 1996","Connecticut, USA",United States,Leaking valve forces shutdown Millstone Nuclea...,0.0,254.0,NaN
114,"September 2, 1996","Crystal River, Florida, USA",United States,Balance-of-plant equipment malfunction forces ...,0.0,384.0,NaN
115,"September 5, 1996","Clinton, Illinois, USA",United States,"Reactor recirculation pump fails, prompting sh...",0.0,38.0,NaN
116,"September 20, 1996","Senaca, Illinois, USA",United States,Service water system fails and results in clos...,0.0,71.0,NaN
117,"September 9, 1997","Bridgman, Michigan, USA",United States,Ice condenser containment systems fail at Cook...,0.0,11.0,NaN
118,"May 25, 1999","Waterford, Connecticut, USA",United States,Steam leak in feed-water heater causes manual ...,0.0,7.0,NaN
119,"September 29, 1999","Lower Alloways Creek, New Jersey, USA",United States,Major Freon leak at Hope Creek Nuclear Facilit...,0.0,2.0,NaN
120,"February 16, 2002","Oak Harbor, Ohio, USA",United States,Severe corrosion of control rod drives in the ...,0.0,143.0,NaN
121,"January 15, 2003","Bridgman, Michigan, USA",United States,A fault in the main transformer at the Donald ...,0.0,10.0,NaN
122,"June 16, 2005","Braidwood, Illinois, USA",United States,Exelon's Braidwood Nuclear Generating Station ...,0.0,41.0,NaN
123,"August 4, 2005","Buchanan, New York, USA",United States,Entergy's Indian Point Energy Center Nuclear P...,NaN,30.0,NaN
124,"March 6, 2006","Erwin, Tennessee, USA",United States,Nuclear fuel services plant spills 35 litres o...,0.0,98.0,NaN
125,"November 21, 2009","Harrisburg, Pennsylvania, USA",United States,Twelve workers were contaminated after radioac...,0.0,NaN,NaN
126,"January 7, 2010","Buchanan, New York, USA",United States,"NRC inspectors reported that an estimated 600,...",0.0,0.0,NaN
127,"February 1, 2010","Vernon, Vermont, USA",United States,Deteriorating underground pipes from the Vermo...,0.0,700.0,NaN
128,August 2011,"Louisa county, Virginia, USA",United States,A 5.8-earthquake in the region caused the loss...,0.0,NaN,2.0
129,"March 13, 2013","Russellville, Arkansas, USA",United States,Temporary overhead crane collapsed at Arkansas...,1.0,NaN,NaN
130,January 2014,"St. Lucie, Florida, USA",United States,Flooding of the auxiliary building of the St. ...,0.0,NaN,NaN
131,July 2016,"Michigan, USA",United States,Massive steam leak in the turbine building of ...,0.0,NaN,NaN
132,December 2019,"Nebraska, USA",United States,One of the two safety related component coolin...,0.0,NaN,NaN

In [ ]:
# število jedrskih nesrec
len(jedr_nesrece)

133

In [ ]:
jedr_nesrece["INES ocena"] = jedr_nesrece["INES ocena"].dropna(how='all')
po_lestvici = jedr_nesrece[jedr_nesrece["INES ocena"].astype(float) >= 4]

# prikaz jedrskih nesreč z oceno 4 ali več na INES lestvici 
po_lestvici

,Datum,Lokacija,Država,Opis,Smrti,Strošek,INES ocena
2,2006,"Fleurus, Belgium",Belgium,"""Severe health effects for a worker at a comme...",0.0,NaN,4.0
5,"December 12, 1952","CRL, Ontario, Canada",Canada,The NRX accident. A hydrogen explosion occurre...,0.0,NaN,5.0
15,17 Oct 1969,"Loir-et-Cher, France",France,50 kg of uranium dioxide melted inside of the ...,0.0,NaN,4.0
17,13 Mar 1980,"Loir-et-Cher, France",France,A malfunctioning cooling system fused fuel ele...,0.0,22.0,4.0
48,30 Sept 1999,"Tokaimura, Japan",Japan,The criticality accident at the Tokai fuel fab...,2.0,NaN,4.0
54,Mar 2011,"Fukushima Dai-ichi, Japan",Japan,The world's second INES 7 accident. A magnitud...,573.0,1200.0,7.0
57,1957,"Mayak reprocessing plant, Ural-region",Russia,Kyshtym disaster: Explosion in a waste tank of...,200.0,NaN,6.0
58,1975,"Leningrad, Soviet union",Russia,Reactor 1 of the Leningrad Nuclear Power Plant...,0.0,NaN,4.0
66,January 1969,"Lucens, Switzerland",Switzerland,Melting of a fuel element of the protoptype po...,0.0,NaN,4.0
69,26 Apr 1986,"Pripyat, Ukraine, USSR",Ukraine,Steam explosion and meltdown (see Chernobyl di...,4000.0,6700.0,7.0
72,8 Oct 1957,"Sellafield, UK",United Kingdom,Fire ignited plutonium piles of a military rea...,240.0,78.0,5.0
81,"January 3, 1961","Idaho Falls, Idaho, USA",United States,Explosion at National Reactor Testing Station'...,3.0,22.0,4.0
82,"October 5, 1966","Monroe, Michigan, USA",United States,Sodium cooling system malfunctions at Enrico F...,0.0,19.0,4.0
88,"March 28, 1979","Middletown, Pennsylvania, USA",United States,"Loss of coolant and partial core meltdown, see...",0.0,2400.0,5.0

In [ ]:
jedr_nesrece["Strošek"] = jedr_nesrece["Strošek"].dropna(how='all')
po_strošku = jedr_nesrece[jedr_nesrece["Strošek"].astype(float) >= 400]

# prikaz jedrskih nesreč, ki so povzročile največ stroškov 
po_strošku

,Datum,Lokacija,Država,Opis,Smrti,Strošek,INES ocena
54,Mar 2011,"Fukushima Dai-ichi, Japan",Japan,The world's second INES 7 accident. A magnitud...,573.0,1200.0,7.0
69,26 Apr 1986,"Pripyat, Ukraine, USSR",Ukraine,Steam explosion and meltdown (see Chernobyl di...,4000.0,6700.0,7.0
88,"March 28, 1979","Middletown, Pennsylvania, USA",United States,"Loss of coolant and partial core meltdown, see...",0.0,2400.0,5.0
97,"March 9, 1985","Athens, Alabama, USA",United States,Instrumentation systems malfunction during sta...,0.0,1830.0,NaN
98,"April 11, 1986","Plymouth, Massachusetts, USA",United States,Recurring equipment problems force emergency s...,0.0,1001.0,NaN
100,"March 31, 1987","Delta, Pennsylvania, USA",United States,Peach Bottom units 2 and 3 shutdown due to coo...,0.0,400.0,NaN
127,"February 1, 2010","Vernon, Vermont, USA",United States,Deteriorating underground pipes from the Vermo...,0.0,700.0,NaN

In [ ]:
jedr_nesrece["Smrti"] = jedr_nesrece["Smrti"].dropna(how='all')
po_smrti = jedr_nesrece[jedr_nesrece["Smrti"].astype(float) >= 200]

#prkaz jedrskih nesreč, ki so povzročile največ smrti
po_smrti

,Datum,Lokacija,Država,Opis,Smrti,Strošek,INES ocena
54,Mar 2011,"Fukushima Dai-ichi, Japan",Japan,The world's second INES 7 accident. A magnitud...,573.0,1200.0,7.0
57,1957,"Mayak reprocessing plant, Ural-region",Russia,Kyshtym disaster: Explosion in a waste tank of...,200.0,NaN,6.0
69,26 Apr 1986,"Pripyat, Ukraine, USSR",Ukraine,Steam explosion and meltdown (see Chernobyl di...,4000.0,6700.0,7.0
72,8 Oct 1957,"Sellafield, UK",United Kingdom,Fire ignited plutonium piles of a military rea...,240.0,78.0,5.0

In [113]:
najhujsa = jedr_nesrece["Smrti"].astype(float).idxmax()

#jedrska nesreča, ki je povzročila največ stroškov in smrti ter ima najvišjo oceno po INES lestvici
jedr_nesrece.loc[najhujsa]

Datum                                               26 Apr 1986
Lokacija                                 Pripyat, Ukraine, USSR
Država                                                  Ukraine
Opis          Steam explosion and meltdown (see Chernobyl di...
Smrti                                                    4000.0
Strošek                                                  6700.0
INES ocena                                                  7.0
Name: 69, dtype: object

#### **Jedrske nesreče po državah**

In [114]:
# prikaz jedrskih nesreč razporejenih po državah
jedr_nesrece.groupby("Država").count()

                Datum  Lokacija  Opis  Smrti  Strošek  INES ocena
Država
Belgium             5         5     5      5        0           5
Canada             10        10    10     10        0           3
France             12        12    12     12        9           8
Germany             3         3     3      3        2           1
India               6         6     6      6        6           0
Japan              20        20    20     20        1           5
Pakistan            1         1     1      1        0           0
Russia              7         7     7      5        0           3
Serbia              1         1     1      1        0           1
South Korea         1         1     1      0        0           0
Sweden              1         1     1      1        0           0
Switzerland         1         1     1      1        0           1
Taiwan              1         1     1      1        0           1
Ukraine             2         2     2      1        1           1
United Kingdom      8         8     8      3        2           3
United States      54        54    54     53       45           5