# Analiza jedrskih reaktorjev v komercialni uporabi in jedrskih nesreč po državah

Pri projektni nalogi predmeta Uvod v programiranje bom analizirala podatke o jedrskih reaktojih, ki proizvajajo elektriko za različne države po svetu ter tudi nesreče, ki so jih povzročili. Podatke sem pridobila iz dveh spletnih strani, https://en.wikipedia.org/wiki/List_of_commercial_nuclear_reactors in https://en.wikipedia.org/wiki/List_of_nuclear_power_accidents_by_country.

Najprej bom pregledala podatke o posameznih reaktorjih in jih predstavila, potem pa opisala nesreče in njihove posledice.  

Podatke, ki sem jih prodobila za vsak reaktor vključujejo ime elektrarne, število reaktorjev, tip, model, status, moč, začetek gradnje, začetek delovanja in datum zaprtja.
Za jedrske nesreče pa sem pridobila podatke o datumu in lokaciji, opis, število smrti in strošek, ki so ga povzročile.

In [8]:
# paketi, ki jih potrebujemo za obdelavo podatkov
import pandas as pd
import numpy as np
%matplotlib inline

In [9]:
# naložimo razpredelnico, iz katere pridobivamo podatke o reaktorjih in nesrečah, ki so jih povzročili
reaktorji = pd.read_csv('podatki/jedrski-reaktorji.csv')
jedr_nesrece = pd.read_csv('podatki/jedrske-nesrece.csv')

#### Celotna tabela

Za boljšii pregled sem izpisala celotno tabelo s podatki o jedrskih reaktorjih.

In [10]:
# rapredelnica podatkov o jedrskih reaktorjih
reaktorji

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
0,NaN,Argentina,1,PHWR,Siemens-KWU,Operational,335,1 Jun 1968,24 Jun 1974,NaN
1,NaN,Argentina,2,PHWR,Siemens-KWU,Operational,692,14 Jul 1981,27 Jun 2014,NaN
2,NaN,Argentina,3,PWR,Hualong One,NaN,1200,NaN,NaN,NaN
3,NaN,Argentina,1,PHWR,CANDU-6,Operational,600,1 Apr 1974,20 Jan 1984,NaN
4,CAREM,Argentina,1,PWR,CAREM25,Under construction,25,8 Feb 2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
907,Yankee Rowe,United States,1,PWR,WH (DRY),Dismantled,167,1 Nov 1957,1 Jul 1961,1 Oct 1991
908,Zion,United States,1,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,31 Dec 1973,13 Feb 1998
909,Zion,United States,2,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,17 Sep 1974,13 Feb 1998
910,Plant in the Jizzakh Region,Uzbekistan,1,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN
911,Plant in the Jizzakh Region,Uzbekistan,2,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN

Lahko

In [11]:
#število jedrskih elektraren
reaktorji["Ime elektrarne"].nunique()

343

In [13]:
#število delujočih reaktorjev
len(reaktorji.query('Status == "Operational"'))

410

In [15]:
#število reaktorjev, ki jih še planirajo zgraditi
len(reaktorji.query('Status == "Planned"'))

114

In [16]:
#število zaprtih reaktorjev
len(reaktorji.query('Status == "Shut down"'))

103