# **Analiza jedrskih reaktorjev v komercialni uporabi in jedrskih nesreč po državah**

Pri projektni nalogi predmeta Uvod v programiranje bom analizirala podatke o jedrskih reaktojih, ki proizvajajo elektriko za različne države po svetu ter tudi nesreče, ki so jih povzročili. Podatke sem pridobila iz dveh spletnih strani, https://en.wikipedia.org/wiki/List_of_commercial_nuclear_reactors in https://en.wikipedia.org/wiki/List_of_nuclear_power_accidents_by_country.

Najprej bom pregledala podatke o posameznih reaktorjih in jih predstavila, potem pa opisala nesreče in njihove posledice.  

Podatke, ki sem jih prodobila za vsak reaktor vključujejo ime elektrarne, število reaktorjev, tip, model, status, moč, začetek gradnje, začetek delovanja in datum zaprtja.
Za jedrske nesreče pa sem pridobila podatke o datumu in lokaciji, opis, število smrti in strošek, ki so ga povzročile.

In [2]:
# paketi, ki jih potrebujemo za obdelavo podatkov
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
# naložimo razpredelnico, iz katere pridobivamo podatke o reaktorjih in nesrečah, ki so jih povzročili
reaktorji = pd.read_csv('podatki/jedrski-reaktorji.csv')
jedr_nesrece = pd.read_csv('podatki/jedrske-nesrece.csv')

## **Analiza podatkov o jedrskih reaktorjih**

#### **Celotna tabela**

Za boljšii pregled sem izpisala celotno tabelo s podatki o jedrskih reaktorjih.

In [4]:
# rapredelnica podatkov o jedrskih reaktorjih
reaktorji

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
0,Atucha,Argentina,1,PHWR,Siemens-KWU,Operational,335,1 Jun 1968,24 Jun 1974,NaN
1,Atucha,Argentina,2,PHWR,Siemens-KWU,Operational,692,14 Jul 1981,27 Jun 2014,NaN
2,Atucha,Argentina,3,PWR,Hualong One,Planned,1200,NaN,NaN,NaN
3,Embalse,Argentina,1,PHWR,CANDU-6,Operational,600,1 Apr 1974,20 Jan 1984,(2049)
4,CAREM,Argentina,1,PWR,CAREM25,Under construction,25,8 Feb 2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
907,Yankee Rowe,United States,1,PWR,WH (DRY),Dismantled,167,1 Nov 1957,1 Jul 1961,1 Oct 1991
908,Zion,United States,1,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,31 Dec 1973,13 Feb 1998
909,Zion,United States,2,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,17 Sep 1974,13 Feb 1998
910,Plant in the Jizzakh Region,Uzbekistan,1,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN
911,Plant in the Jizzakh Region,Uzbekistan,2,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN

Iz tabele lahko razberemo število vseh jedrskih elektraren ter število delujočih in zaprtih reaktorjev skupaj s številom reaktorjev, ki jih še nameravajo zgraditi.

In [5]:
#število jedrskih elektraren
reaktorji["Ime elektrarne"].nunique()

360

In [6]:
from IPython.display import display

#število delujočih reaktorjev
display(len(reaktorji.query('Status == "Operational"')))

#število reaktorjev, ki jih še planirajo zgraditi
display(len(reaktorji.query('Status == "Planned"')))

#število zaprtih reaktorjev
display(len(reaktorji.query('Status == "Shut down"')))

415

122

103

Tabela, ki prikazuje posamezne elektrarne z reaktorji in njihovimi močmi v MW.

In [17]:
# ime elektrarne, njeni reaktorji in njihova moč
reaktorji[["Ime elektrarne", "Številka reaktorja", "Moč (MW)"]]

                  Ime elektrarne Številka reaktorja Moč (MW)
0                         Atucha                  1      335
1                         Atucha                  2      692
2                         Atucha                  3     1200
3                        Embalse                  1      600
4                          CAREM                  1       25
..                           ...                ...      ...
907                  Yankee Rowe                  1      167
908                         Zion                  1     1040
909                         Zion                  2     1040
910  Plant in the Jizzakh Region                  1     1200
911  Plant in the Jizzakh Region                  2     1200

[912 rows x 3 columns]

Prikaz vseh reaktorjev z močjo večjo od 1000 MW:

In [31]:
reaktorji[reaktorji["Status"] == "Operational" and reaktorji["Moč (MW)"].astype(int) >= 1000]

ValueError: can only convert an array of size 1 to a Python scalar

#### **Jedrski reaktorji po državah**

In [ ]:
# prikaz reaktorjev razporejenih po državah
reaktorji.groupby("Lokacija").count()

,Ime elektrarne,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
Lokacija,,,,,,,,,
Argentina,5,5,5,5,5,5,4,3,1
Armenia,2,2,2,2,2,2,2,2,2
Austria,1,1,1,1,1,1,1,0,1
Bangladesh,2,2,2,2,2,2,2,2,0
Belarus,4,4,4,4,4,4,4,2,2
Belgium,8,8,8,8,8,8,8,8,8
Brazil,3,3,3,3,3,3,3,3,0
Bulgaria,10,10,10,10,10,10,8,7,4
Canada,29,29,29,29,29,29,29,29,25
China,116,116,116,116,116,116,81,61,0
Cuba,2,2,2,2,2,2,2,0,2
Czech Republic,10,10,10,10,10,10,6,6,0
Egypt,4,4,4,4,4,4,4,1,0
Finland,6,6,6,6,6,6,6,6,1
France,75,75,75,74,75,75,71,69,12
Germany,40,40,40,38,40,37,39,36,39
Hungary,6,6,6,6,6,6,6,4,0
India,43,43,43,43,43,43,31,24,1
Iran,4,4,4,3,4,4,2,1,0
Italy,8,8,8,4,8,8,6,4,8
Japan,62,62,62,61,62,62,62,59,26
Kazakhstan,1,1,1,1,1,1,1,1,1
Lithuania,4,3,3,3,3,3,2,2,2
Mexico,2,2,2,2,2,2,2,2,0
Netherlands,2,2,2,2,2,2,2,2,2
North Korea,5,5,4,1,5,5,0,0,4
Pakistan,8,8,8,8,8,8,7,7,1
Philippines,1,1,1,1,1,1,1,0,1
Poland,14,14,14,14,14,14,3,10,2
Romania,5,5,5,5,5,5,2,2,0
Russia,87,87,87,87,87,87,75,61,11
Slovakia,9,9,9,9,9,9,9,8,7
Slovenia,2,2,2,2,2,2,1,2,1
South Africa,2,2,2,2,2,2,2,2,0
South Korea,32,32,32,32,32,32,30,27,2
Spain,14,14,14,9,14,10,14,10,7
Sweden,14,14,14,14,14,14,14,13,8
Switzerland,6,6,6,6,6,6,6,6,4
Taiwan,8,8,8,8,8,8,8,6,6
Turkey,8,8,8,8,8,8,4,4,0
Ukraine,35,35,35,35,35,35,27,23,10
United Arab Emirates,4,4,4,4,4,4,4,4,0
United Kingdom,50,50,50,50,50,50,47,46,44
United States,157,157,157,153,157,157,142,135,46
Uzbekistan,2,2,2,2,2,2,0,0,0

Iz tabele lahko razberemo, katera država ima največ jedrskih elektrarn.

In [28]:
po_drzavah = reaktorji.groupby("Lokacija").size()

# država z največ jedrskimi elektrarnami
po_drzavah.idxmax()

'United States'

##### Jedrski reaktorji v ZDA

Podrobneje analiziramo še jedrske elektrarne v ZDA.

In [32]:
indeksi = reaktorji.index[reaktorji["Lokacija"] == "United States"].tolist()
reaktorji_v_zda = reaktorji.loc[indeksi]

# jedrske elektrarne v ZDA
display(reaktorji_v_zda)

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
753,Arkansas Nuclear One,United States,1,PWR,B & W (DRY-Cont),Operational,836,1 Oct 1968,21 May 1974,NaN
754,Arkansas Nuclear One,United States,2,PWR,CE (DRY),Operational,988,6 Dec 1968,1 Sep 1978,NaN
755,Beaver Valley,United States,1,PWR,WH 3-loop (DRY),Operational,908,26 Jun 1970,2 Jul 1976,NaN
756,Beaver Valley,United States,2,PWR,WH 3-loop (DRY),Operational,905,3 May 1974,14 Aug 1987,NaN
757,Big Rock Point,United States,1,BWR,BWR-1,Dismantled,67,1 May 1960,29 Mar 1963,29 Aug 1997
...,...,...,...,...,...,...,...,...,...,...
905,Watts Bar,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1164,1 Sep 1973,4 Jun 2016,NaN
906,Wolf Creek,United States,1,PWR,WH 4-Loop (DRY),Operational,1200,31 May 1977,3 Sep 1985,NaN
907,Yankee Rowe,United States,1,PWR,WH (DRY),Dismantled,167,1 Nov 1957,1 Jul 1961,1 Oct 1991
908,Zion,United States,1,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,31 Dec 1973,13 Feb 1998
909,Zion,United States,2,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,17 Sep 1974,13 Feb 1998

In [33]:
# število jedrskih reaktorjev v ZDA
len(reaktorji_v_zda)

157

In [35]:
# število delujočih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Operational"')))

# število reaktorjev, ki jih še planirajo zgraditi
display(len(reaktorji_v_zda.query('Status == "Planned"')))

# število nedokončahnih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Unfinished"'))) 

# število zaprtih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Shut down"')))

94

9

7

18

In [42]:
moc_delujoči = reaktorji_v_zda.loc[reaktorji_v_zda["Status"] == "Operational"]["Moč (MW)"].tolist()
moci_nad_1000 = []
for moc_reaktor in moc_delujoči:
    if int(moc_reaktor) >= 1000:
        moci_nad_1000.append(moc_reaktor)

# število jedrskih reaktorjev v Zda z močjo večjo od 1000 MW
display(len(moci_nad_1000))

52

In [49]:
indeksi_moci = []
for moc in moci_nad_1000:
    i = reaktorji_v_zda.index[reaktorji_v_zda["Moč (MW)"] == moc].tolist()
    indeksi_moci.extend(i)

reaktorji_v_zda.loc[list(set(indeksi_moci))]

56