# **Analiza jedrskih reaktorjev v komercialni uporabi in jedrskih nesreč po državah**

Pri projektni nalogi predmeta Uvod v programiranje bom analizirala podatke o jedrskih reaktojih, ki proizvajajo elektriko za različne države po svetu ter tudi nesreče, ki so jih povzročili. Podatke sem pridobila iz dveh spletnih strani, https://en.wikipedia.org/wiki/List_of_commercial_nuclear_reactors in https://en.wikipedia.org/wiki/List_of_nuclear_power_accidents_by_country.

Najprej bom pregledala podatke o posameznih reaktorjih in jih predstavila, potem pa opisala nesreče in njihove posledice.  

Podatke, ki sem jih prodobila za vsak reaktor vključujejo ime elektrarne, število reaktorjev, tip, model, status, moč, začetek gradnje, začetek delovanja in datum zaprtja.
Za jedrske nesreče pa sem pridobila podatke o datumu in lokaciji, opis, število smrti in strošek, ki so ga povzročile.

In [52]:
# paketi, ki jih potrebujemo za obdelavo podatkov
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
# naložimo razpredelnico, iz katere pridobivamo podatke o reaktorjih in nesrečah, ki so jih povzročili
reaktorji = pd.read_csv('podatki/jedrski-reaktorji.csv')
jedr_nesrece = pd.read_csv('podatki/jedrske-nesrece.csv')

## **Analiza podatkov o jedrskih reaktorjih**

#### **Celotna tabela**

Za boljši pregled sem izpisala celotno tabelo s podatki o jedrskih reaktorjih.

In [13]:
# rapredelnica podatkov o jedrskih reaktorjih
reaktorji

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
0,Atucha,Argentina,1,PHWR,Siemens-KWU,Operational,335,1 Jun 1968,24 Jun 1974,NaN
1,Atucha,Argentina,2,PHWR,Siemens-KWU,Operational,692,14 Jul 1981,27 Jun 2014,NaN
2,Atucha,Argentina,3,PWR,Hualong One,Planned,1200,NaN,NaN,NaN
3,Embalse,Argentina,1,PHWR,CANDU-6,Operational,600,1 Apr 1974,20 Jan 1984,(2049)
4,CAREM,Argentina,1,PWR,CAREM25,Under construction,25,8 Feb 2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
907,Yankee Rowe,United States,1,PWR,WH (DRY),Dismantled,167,1 Nov 1957,1 Jul 1961,1 Oct 1991
908,Zion,United States,1,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,31 Dec 1973,13 Feb 1998
909,Zion,United States,2,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,17 Sep 1974,13 Feb 1998
910,Plant in the Jizzakh Region,Uzbekistan,1,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN
911,Plant in the Jizzakh Region,Uzbekistan,2,PWR,VVER-1200,Planned,1200,NaN,NaN,NaN

Iz tabele lahko razberemo število vseh jedrskih elektraren , spodaj pa je še prikazano število delujočih in zaprtih reaktorjev skupaj s številom reaktorjev, ki jih še nameravajo zgraditi.

In [14]:
#število jedrskih elektraren
reaktorji["Ime elektrarne"].nunique()

360

In [15]:
from IPython.display import display

#število delujočih reaktorjev
display(len(reaktorji.query('Status == "Operational"')))

#število reaktorjev, ki jih še planirajo zgraditi
display(len(reaktorji.query('Status == "Planned"')))

#število zaprtih reaktorjev
display(len(reaktorji.query('Status == "Shut down"')))

415

122

103

In [49]:
# število reaktorjev posameznega tipa
reaktorji.groupby("Tip").count()

,Ime elektrarne,Lokacija,Številka reaktorja,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
Tip,,,,,,,,,
BHWR,1,1,1,1,1,1,1,0,1
BWR,141,141,141,136,141,139,132,125,65
FBR,12,12,12,8,12,11,12,8,8
GCR,51,51,51,50,51,51,50,50,51
HTGR,8,8,8,8,8,8,4,4,3
HWGCR,4,4,4,3,4,4,4,4,4
HWLWR,1,1,1,1,1,1,1,1,1
LWGR,29,29,29,29,29,29,26,24,14
LWR,1,1,1,0,1,1,0,0,0
OCR,1,1,1,1,1,1,1,1,1
PHWR,76,76,76,76,76,76,61,59,31
PWR,574,574,574,565,574,570,479,417,107
SFR,9,9,9,9,9,9,7,5,2
SGHWR,1,1,1,1,1,1,1,1,1
SGR,1,1,1,1,1,1,1,1,1

In [50]:
po_tipu = reaktorji.groupby("Tip").size()

# najpogostejši tip reaktorja
po_tipu.idxmax()

'PWR'

Iz tabele se torej razbere, da je najpogostejši tip jedrskega reaktorja 'PWR', ki je tlačnovodni reaktor. Takšnega pa imamo tudi pri nas v Sloveniji.

In [51]:
# jedrski reaktorji v Sloveniji
reaktorji[reaktorji["Lokacija"] == "Slovenia"]

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
578,Krško,Slovenia,1,PWR,WH 2 loops,Operational,688,30 Mar 1975,1 Jan 1983,(2043)
579,Krško,Slovenia,2,PWR,TBD,Planned,1100,NaN,(2030),NaN

Tabela, ki prikazuje posamezne elektrarne z reaktorji in njihovimi močmi v MW.

In [16]:
# ime elektrarne, njeni reaktorji in njihova moč
reaktorji[["Ime elektrarne", "Številka reaktorja", "Moč (MW)"]]

                  Ime elektrarne Številka reaktorja Moč (MW)
0                         Atucha                  1      335
1                         Atucha                  2      692
2                         Atucha                  3     1200
3                        Embalse                  1      600
4                          CAREM                  1       25
..                           ...                ...      ...
907                  Yankee Rowe                  1      167
908                         Zion                  1     1040
909                         Zion                  2     1040
910  Plant in the Jizzakh Region                  1     1200
911  Plant in the Jizzakh Region                  2     1200

[912 rows x 3 columns]

In [57]:
reaktorji[["Ime elektrarne", "Status"]].plot(kind='pie', y='Status', autopct='%1.1f%%', startangle=140, legend=False)

plt.show()

TypeError: '<' not supported between instances of 'str' and 'int'

Prikaz vseh reaktorjev z močjo večjo od 1000 MW:

In [30]:
delujoci = reaktorji[reaktorji["Status"] == "Operational"]
moci_delujoci = delujoci[delujoci["Moč (MW)"].astype(float) >= 1000]

# prikaz delujočih jedrskih reaktorjev z močjo večjo od 1000 MW
moci_delujoci

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
10,Ostrovets,Belarus,1,PWR,VVER-1200/V-491,Operational,1109,6 Nov 2013,10 Jun 2021,NaN
11,Ostrovets,Belarus,2,PWR,VVER-1200/V-491,Operational,1109,24 Apr 2014,1 Nov 2023,NaN
18,Doel,Belgium,4,PWR,Belgian firms plus WH 3 loops,Operational,1039,1 Dec 1978,1 Jul 1985,(2035)
21,Tihange,Belgium,3,PWR,Belgian firms plus WH 3 loops,Operational,1046,1 Nov 1978,1 Sep 1985,(2035)
23,Angra,Brazil,2,PWR,Pre-Konvoi,Operational,1275,1 Jan 1976,1 Feb 2001,NaN
...,...,...,...,...,...,...,...,...,...,...
902,Vogtle,United States,4,PWR,AP1000,Operational,1117,19 Nov 2013,29 April 2024,NaN
903,Waterford,United States,1,PWR,CE 2-loop (DRY),Operational,1168,14 Nov 1974,24 Sep 1985,NaN
904,Watts Bar,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1157,20 Jul 1973,27 May 1996,NaN
905,Watts Bar,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1164,1 Sep 1973,4 Jun 2016,NaN
906,Wolf Creek,United States,1,PWR,WH 4-Loop (DRY),Operational,1200,31 May 1977,3 Sep 1985,NaN

In [31]:
# število delujočih jedrskih reaktorjev z močjo večjo od 1000 MW
len(moci_delujoci)

159

In [45]:
najmocnejsi = moci_delujoci["Moč (MW)"].astype(float).idxmax()

# jedrski reaktor z največjo močjo
moci_delujoci.loc[najmocnejsi]

142

Ime elektrarne            Taishan
Lokacija                    China
Številka reaktorja              1
Tip                           PWR
Model                         EPR
Status                Operational
Moč (MW)                     1660
Začetek gradnje       18 Nov 2009
Začetek delovanja     14 Dec 2018
Datum zaprtja                 NaN
Name: 142, dtype: object

#### **Jedrski reaktorji po državah**

In [ ]:
# prikaz reaktorjev razporejenih po državah
reaktorji.groupby("Lokacija").count()

,Ime elektrarne,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
Lokacija,,,,,,,,,
Argentina,5,5,5,5,5,5,4,3,1
Armenia,2,2,2,2,2,2,2,2,2
Austria,1,1,1,1,1,1,1,0,1
Bangladesh,2,2,2,2,2,2,2,2,0
Belarus,4,4,4,4,4,4,4,2,2
Belgium,8,8,8,8,8,8,8,8,8
Brazil,3,3,3,3,3,3,3,3,0
Bulgaria,10,10,10,10,10,10,8,7,4
Canada,29,29,29,29,29,29,29,29,25
China,116,116,116,116,116,116,81,61,0
Cuba,2,2,2,2,2,2,2,0,2
Czech Republic,10,10,10,10,10,10,6,6,0
Egypt,4,4,4,4,4,4,4,1,0
Finland,6,6,6,6,6,6,6,6,1
France,75,75,75,74,75,75,71,69,12
Germany,40,40,40,38,40,37,39,36,39
Hungary,6,6,6,6,6,6,6,4,0
India,43,43,43,43,43,43,31,24,1
Iran,4,4,4,3,4,4,2,1,0
Italy,8,8,8,4,8,8,6,4,8
Japan,62,62,62,61,62,62,62,59,26
Kazakhstan,1,1,1,1,1,1,1,1,1
Lithuania,4,3,3,3,3,3,2,2,2
Mexico,2,2,2,2,2,2,2,2,0
Netherlands,2,2,2,2,2,2,2,2,2
North Korea,5,5,4,1,5,5,0,0,4
Pakistan,8,8,8,8,8,8,7,7,1
Philippines,1,1,1,1,1,1,1,0,1
Poland,14,14,14,14,14,14,3,10,2
Romania,5,5,5,5,5,5,2,2,0
Russia,87,87,87,87,87,87,75,61,11
Slovakia,9,9,9,9,9,9,9,8,7
Slovenia,2,2,2,2,2,2,1,2,1
South Africa,2,2,2,2,2,2,2,2,0
South Korea,32,32,32,32,32,32,30,27,2
Spain,14,14,14,9,14,10,14,10,7
Sweden,14,14,14,14,14,14,14,13,8
Switzerland,6,6,6,6,6,6,6,6,4
Taiwan,8,8,8,8,8,8,8,6,6
Turkey,8,8,8,8,8,8,4,4,0
Ukraine,35,35,35,35,35,35,27,23,10
United Arab Emirates,4,4,4,4,4,4,4,4,0
United Kingdom,50,50,50,50,50,50,47,46,44
United States,157,157,157,153,157,157,142,135,46
Uzbekistan,2,2,2,2,2,2,0,0,0

Iz tabele lahko razberemo, katera država ima največ jedrskih elektrarn.

In [ ]:
po_drzavah = reaktorji.groupby("Lokacija").size()

# država z največ jedrskimi elektrarnami
po_drzavah.idxmax()

'United States'

##### Jedrski reaktorji v ZDA

Podrobneje analiziramo še jedrske elektrarne v ZDA.

In [34]:
indeksi = reaktorji.index[reaktorji["Lokacija"] == "United States"].tolist()
reaktorji_v_zda = reaktorji.loc[indeksi]

# jedrske elektrarne v ZDA
reaktorji_v_zda

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
753,Arkansas Nuclear One,United States,1,PWR,B & W (DRY-Cont),Operational,836,1 Oct 1968,21 May 1974,NaN
754,Arkansas Nuclear One,United States,2,PWR,CE (DRY),Operational,988,6 Dec 1968,1 Sep 1978,NaN
755,Beaver Valley,United States,1,PWR,WH 3-loop (DRY),Operational,908,26 Jun 1970,2 Jul 1976,NaN
756,Beaver Valley,United States,2,PWR,WH 3-loop (DRY),Operational,905,3 May 1974,14 Aug 1987,NaN
757,Big Rock Point,United States,1,BWR,BWR-1,Dismantled,67,1 May 1960,29 Mar 1963,29 Aug 1997
...,...,...,...,...,...,...,...,...,...,...
905,Watts Bar,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1164,1 Sep 1973,4 Jun 2016,NaN
906,Wolf Creek,United States,1,PWR,WH 4-Loop (DRY),Operational,1200,31 May 1977,3 Sep 1985,NaN
907,Yankee Rowe,United States,1,PWR,WH (DRY),Dismantled,167,1 Nov 1957,1 Jul 1961,1 Oct 1991
908,Zion,United States,1,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,31 Dec 1973,13 Feb 1998
909,Zion,United States,2,PWR,WH (DRY),Dismantled,1040,1 Dec 1968,17 Sep 1974,13 Feb 1998

In [19]:
# število jedrskih reaktorjev v ZDA
len(reaktorji_v_zda)

157

In [20]:
# število delujočih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Operational"')))

# število reaktorjev, ki jih še planirajo zgraditi
display(len(reaktorji_v_zda.query('Status == "Planned"')))

# število nedokončahnih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Unfinished"'))) 

# število zaprtih reaktorjev
display(len(reaktorji_v_zda.query('Status == "Shut down"')))

94

9

7

18

In [32]:
delujoci_zda = reaktorji_v_zda[reaktorji_v_zda["Status"] == "Operational"]
moc_delujoci_zda = delujoci_zda[delujoci_zda["Moč (MW)"].astype(int) >= 1000]

# prikaz delujočih jedrskih reaktorjev v ZDA z močjo večjo od 1000 MW
moc_delujoci_zda

,Ime elektrarne,Lokacija,Številka reaktorja,Tip,Model,Status,Moč (MW),Začetek gradnje,Začetek delovanja,Datum zaprtja
758,Braidwood,United States,1,PWR,WH 4-loop (DRY),Operational,1194,1 Aug 1975,29 Jul 1988,NaN
759,Braidwood,United States,2,PWR,WH 4-loop (DRY),Operational,1160,1 Aug 1975,17 Oct 1988,NaN
760,Browns Ferry,United States,1,BWR,BWR-4 (WET),Operational,1200,1 May 1967,1 Aug 1974,NaN
761,Browns Ferry,United States,2,BWR,BWR-4 (WET),Operational,1200,1 May 1967,1 Mar 1975,NaN
762,Browns Ferry,United States,3,BWR,BWR-4 (WET),Operational,1210,1 Jul 1968,1 Mar 1977,NaN
765,Byron,United States,1,PWR,WH 4-loop (DRY),Operational,1164,1 Apr 1975,16 Sep 1985,NaN
766,Byron,United States,2,PWR,WH 4-loop (DRY),Operational,1136,1 Apr 1975,2 Aug 1987,NaN
767,Callaway,United States,1,PWR,WH 4-loop (DRY),Operational,1215,1 Sep 1975,19 Dec 1984,NaN
776,Catawba,United States,1,PWR,WH 4-loop (ICECOND),Operational,1160,1 May 1974,29 Jun 1985,NaN
777,Catawba,United States,2,PWR,WH 4-loop (ICECOND),Operational,1150,1 May 1974,19 Aug 1986,NaN
780,Clinton,United States,1,BWR,BWR-6 (WET),Operational,1062,1 Oct 1975,24 Nov 1987,NaN
781,Columbia,United States,1,BWR,BWR-5 (WET),Operational,1131,1 Aug 1972,13 Dec 1984,NaN
782,Comanche Peak,United States,1,PWR,WH 4-loop (DRY),Operational,1205,19 Dec 1974,13 Aug 1990,NaN
783,Comanche Peak,United States,2,PWR,WH 4-loop (DRY),Operational,1195,19 Dec 1974,3 Aug 1993,NaN
788,Diablo Canyon,United States,1,PWR,WH 4-Loop (DRY),Operational,1138,23 Apr 1968,7 May 1985,NaN
789,Diablo Canyon,United States,2,PWR,WH 4-Loop (DRY),Operational,1118,9 Dec 1970,13 Mar 1986,NaN
790,Donald C. Cook,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1020,25 Mar 1969,27 Aug 1975,NaN
791,Donald C. Cook,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1090,25 Mar 1969,1 Jul 1978,NaN
800,Fermi,United States,2,BWR,BWR-4 (WET),Operational,1115,26 Sep 1972,23 Jan 1988,NaN
804,Grand Gulf,United States,1,BWR,BWR-6 (WET),Operational,1401,4 May 1974,1 Jul 1985,NaN
811,Hope Creek,United States,1,BWR,BWR-4 (WET),Operational,1172,1 Mar 1976,20 Dec 1986,NaN
822,LaSalle County,United States,1,BWR,BWR-5 (WET),Operational,1137,10 Sep 1973,1 Jan 1984,NaN
823,LaSalle County,United States,2,BWR,BWR-5 (WET),Operational,1140,10 Sep 1973,19 Oct 1984,NaN
824,Limerick,United States,1,BWR,BWR-5 (WET),Operational,1134,19 Jun 1974,1 Feb 1986,NaN
825,Limerick,United States,2,BWR,BWR-5 (WET),Operational,1134,19 Jun 1974,8 Jan 1990,NaN
828,McGuire,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1158,1 Apr 1971,1 Dec 1981,NaN
829,McGuire,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1158,1 Apr 1971,1 Mar 1984,NaN
832,Millstone,United States,3,PWR,WH 4-Loop (DRY),Operational,1210,9 Aug 1974,23 Apr 1986,NaN
835,Nine Mile Point,United States,2,BWR,BWR-5 (WET),Operational,1277,1 Aug 1975,11 Mar 1988,NaN
843,Palo Verde,United States,1,PWR,CE80 2-loop (DRY),Operational,1311,25 May 1976,28 Jan 1986,NaN
844,Palo Verde,United States,2,PWR,CE80 2-loop (DRY),Operational,1314,1 Jun 1976,19 Sep 1986,NaN
845,Palo Verde,United States,3,PWR,CE80 2-loop (DRY),Operational,1312,1 Jun 1976,8 Jan 1988,NaN
849,Peach Bottom,United States,2,BWR,BWR-4 (WET),Operational,1300,31 Jan 1968,5 Jul 1974,NaN
850,Peach Bottom,United States,3,BWR,BWR-4 (WET),Operational,1331,31 Jan 1968,23 Dec 1974,NaN
851,Perry,United States,1,BWR,BWR-6 (WET),Operational,1240,1 Oct 1974,18 Nov 1987,NaN
862,Salem,United States,1,PWR,WH 4-loop (DRY),Operational,1169,25 Sep 1968,30 Jun 1977,NaN
863,Salem,United States,2,PWR,WH 4-loop (DRY),Operational,1158,25 Sep 1968,31 Oct 1981,NaN
868,Seabrook,United States,1,PWR,WH 4-Loop (DRY),Operational,1246,7 Jul 1976,15 Mar 1990,NaN
873,Sequoyah,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1152,27 May 1970,1 Jul 1981,NaN
874,Sequoyah,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1139,27 May 1970,1 Jun 1982,NaN
879,South Texas,United States,1,PWR,WH 4-loop (DRY),Operational,1280,22 Dec 1975,25 Aug 1988,NaN
880,South Texas,United States,2,PWR,WH 4-loop (DRY),Operational,1280,22 Dec 1975,19 Jun 1989,NaN
885,Susquehanna,United States,1,BWR,BWR-5 (WET),Operational,1257,2 Nov 1973,12 Nov 1982,NaN
886,Susquehanna,United States,2,BWR,BWR-5 (WET),Operational,1257,2 Nov 1973,27 Jun 1984,NaN
899,Vogtle,United States,1,PWR,WH 4-Loop (DRY),Operational,1150,1 Aug 1976,1 Jun 1987,NaN
900,Vogtle,United States,2,PWR,WH 4-Loop (DRY),Operational,1152,1 Aug 1976,20 May 1989,NaN
901,Vogtle,United States,3,PWR,AP1000,Operational,1117,12 Mar 2013,31 Jul 2023,NaN
902,Vogtle,United States,4,PWR,AP1000,Operational,1117,19 Nov 2013,29 April 2024,NaN
903,Waterford,United States,1,PWR,CE 2-loop (DRY),Operational,1168,14 Nov 1974,24 Sep 1985,NaN
904,Watts Bar,United States,1,PWR,WH 4-Loop (ICECOND),Operational,1157,20 Jul 1973,27 May 1996,NaN
905,Watts Bar,United States,2,PWR,WH 4-Loop (ICECOND),Operational,1164,1 Sep 1973,4 Jun 2016,NaN
906,Wolf Creek,United States,1,PWR,WH 4-Loop (DRY),Operational,1200,31 May 1977,3 Sep 1985,NaN

In [33]:
# število delujočih jedrskih reaktorjev v ZDA z močjo večjo od 1000 MW
len(moc_delujoci_zda)

52

## **Analiza podatkov o jedrskih nesrečah**

#### **Celotna tabela**

Prikaz celotne tabele za boljšo preglednost.

In [58]:
# prikaz podatkov o jedrskih nesrečah
jedr_nesrece

,Datum,Lokacija,Opis,Smrti,Strošek,INES ocena
0,2002,"Tihange, Belgium","""Safety injection during hot shutdown at Tihan...",0,NaN,2
1,2005,"Tihange, Belgium","""Inadequate protection relays and related setp...",0,NaN,2
2,2006,"Fleurus, Belgium","""Severe health effects for a worker at a comme...",0,NaN,4
3,2008,"Fleurus, Belgium",Iodine-131 release in the environment.,0,NaN,3
4,2011,"Doel, Belgium","""Inadequate setting of the auxiliary feedwater...",0,NaN,2
...,...,...,...,...,...,...
128,August 2011,"Louisa county, Virginia, USA",A 5.8-earthquake in the region caused the loss...,0.0,?,2.0
129,"March 13, 2013","Russellville, Arkansas, USA",Temporary overhead crane collapsed at Arkansas...,1.0,?,NaN
130,January 2014,"St. Lucie, Florida, USA",Flooding of the auxiliary building of the St. ...,0.0,?,NaN
131,July 2016,"Michigan, USA",Massive steam leak in the turbine building of ...,0.0,?,NaN
132,December 2019,"Nebraska, USA",One of the two safety related component coolin...,0.0,?,NaN

In [59]:
# število jedrskih nesrec
len(jedr_nesrece)

133